.window {
  height: 100vh;
  display: grid;
  align-content: center;
  max-width: 600px;
  width: 100%;
  margin: auto;
}

.container-center {
  display: grid;
  align-content: center;
  max-width: 600px;
  margin: auto;
}

.container {
  padding: 0 30px;
  margin: auto;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
}

.spaced {
  margin-top: 40px;
  margin-bottom: 80px;
}

.inline-container {
  display: inline-block;
  margin: auto;
}

.link-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.flex-end {
  justify-content: flex-end;
  margin-bottom: 0;
}

.link {
  padding: 6px 12px;
}

.link {
  margin: 0px;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex > a {
  margin: 5px 0px;
}

input[type="range"] {
  -webkit-appearance: none;
  background: #777777;
  border-radius: 3px;
  height: 6px;
  width: 160px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  border-radius: 50%;
  background: #ffffff;
  height: 18px;
  width: 9px;
  -webkit-appearance: none;
}

@media (min-width: 500px) {
  .container {
    width: 100%;
  }
}
